

#formHistoria{
    position: absolute;
    backdrop-filter: blur(2px);
    width: 100svw;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

}

#formHistoria h2{
    text-align: center;
}

#formHistoria form{
    width: 100svw;
    height: 100svh;
    position: relative;
    gap: 2em;
    background-color: #f1f1f1;
    padding: 5em;
    font-size: 1.3rem;
    border: 5px solid black;
    display: grid;
    grid-template-rows: max-content max-content 1fr max-content;
    
}

#formHistoria form > div{
    display: flex;
    justify-content: space-between;
}

select{
    width: 10em;
    height: 2em;
    font-size: 1.2rem;
    padding: 3px;
    border-radius: 6px;
}

#formHistoria form p{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

#formHistoria form p input{
    height: 2em;
    font-size: 1.2rem;
    border-radius: 6px;
    padding: 3px;
}

#formHistoria form input[type="submit"], .buttonApagar{
    width: 5em;
    margin: auto;
    font-size: 1.2em;
    padding: .2em;
    border-radius: 6px;
    border: none;
    background-color: #b2b2b2;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: transform .3s;
}

#formHistoria form input{
    width: 12em;
}

#formHistoria form input[type="submit"]:hover, .buttonApagar:hover{
    transform: scale(1.05);
}

#fecharFormulario{
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 1rem;
    transition: transform .3s;
    cursor: pointer;
}

#fecharFormulario:hover{
    transform: scale(1.05);
}

.botoes{
    display: flex;
    gap: 1em;
}

.buttonApagar{
    display: none;
}


textarea{
    display: block;
    height: 100%;
    border-radius: 6px;
}

