

#formEtiqueta{
    position: fixed;
    backdrop-filter: blur(2px);
    width: 100svw;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

}

#formEtiqueta h2{
    text-align: center;
}

#formEtiqueta form{
    position: relative;
    display: grid;
    grid-template-rows: 1fr max-content 1fr;
    align-items: center;
    justify-content: center;
    gap: 2em;
    background-color: #f1f1f1;
    width: max-content;
    /* min-width: 25em;
    min-height: 25em; */
    max-width: 100%;
    padding: 5em;
    font-size: 1.3rem;
    border: 5px solid black;
    
}

#formEtiqueta form p{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

#formEtiqueta form p input{
    height: 2em;
    font-size: 1.2rem;
    border-radius: 6px;
    padding: 3px;
}

#formEtiqueta form input[type="submit"], .buttonApagar{
    width: 5em;
    margin: auto;
    font-size: 1.2em;
    padding: .2em;
    border-radius: 6px;
    border: none;
    background-color: #b2b2b2;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: transform .3s;
}

#formEtiqueta form input[type="submit"]:hover, .buttonApagar:hover{
    transform: scale(1.05);
}

#fecharFormulario{
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 1rem;
    transition: transform .3s;
    cursor: pointer;
}

#fecharFormulario:hover{
    transform: scale(1.05);
}

.botoes{
    display: flex;
    gap: 1em;
}

.buttonApagar{
    display: none;
}

