

#root{
    display: flex;
    flex-direction: column;
    gap: 1.8em;
    align-items: center;
}

h1{
    margin: 1.6em;
    font-size: 2.1rem;
    font-style: italic;
}

#etiquetas, #historias{
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, .12);
    border-radius: 5px;
}

#historias{
    box-shadow: none;
}

#etiquetas{
    max-width: 1100px;
    min-width: 40em;
    width: max-content;
}

#historias{
    max-width: 1100px;
    width: 60em;
}

#etiquetasHeader, .historiaHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid gray;
    padding: .8em;
    cursor: pointer;
    position: relative;
}

#etiquetasHeader .icone, .historiaHeader .icone{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 2.1em;
    height: 2.1em;
    position: absolute;
    right: 1em;
    background-image: url("./assets/uncollapseButton.png");
    transition: transform .2s;
}

.iconeCollapse .icone{
    transform: rotate(180deg);
}

:disabled{
    cursor: default !important;
}

#etiquetasContainer, .historiasContainer{
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.6em;
    padding: 1em;
    transition: max-height .3s ease, padding .3s ease, opacity .3s ease;
}

.etiquetasContainer.collapsed{
    opacity: 0;
}

.etiqueta, .historia{
    border: 1px solid gray;
    padding: .6em;
    cursor: pointer;
    transition: transform .3s;
    border-radius: 6px;
}

.historia{
    width: 9em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .3s;
}

.etiqueta:hover, .historia:hover{
    transform: scale(1.05);
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.headerContainer button{
    padding: .5em;
    border-radius: 4px;
    border: 1px solid gray;
    cursor: pointer;
    transition: transform .3s;
}

.headerContainer button:hover{
    transform: scale(1.05);
}

.historiasList{
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    transition: max-height .3s ease, padding .3s ease, opacity .3s ease;
}

.historiasList.collapsed, #etiquetasContainer.collapsed{
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    opacity: 0;
}

.historiasList.collapsed .historia{
    opacity: 0;
}

.naoHaContainer .historiasList{
    display: flex;
    align-items: center;
    justify-content: center;
}

.historiasList .msgNaoHa{
    background-color: #d3d3d3;
    padding: 1em;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .12);
}