

#root{
    display: flex;
    flex-direction: column;
    gap: 1.8em;
    align-items: center;
    color: rgb(59, 59, 59);
}

h1{
    margin: 1.6em;
    font-size: 2.1rem;
    font-style: italic;
}


#etiquetas, #historias{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    user-select: none;
}

#historias{
    box-shadow: none;
}

#etiquetas{
    max-width: 1100px;
    min-width: 40em;
    width: max-content;
}

#historias{
    max-width: 1100px;
    width: 60em;
}

#etiquetasHeader, .historiaHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f5f8ff;
    padding: .8em;
    cursor: pointer;
    position: relative;
    border-radius: 6px;
}

.historiaContainer{
    display: flex;
    flex-direction: column;
    gap: .2em;
}

#etiquetasHeader .icone, .historiaHeader .icone{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 2.1em;
    height: 2.1em;
    position: absolute;
    right: 1em;
    background-image: url("./assets/uncollapseButton.png");
    transition: transform .2s;
}

.iconeCollapse .icone{
    transform: rotate(180deg);
}

#etiquetas .iconeCollapse{
    border-bottom: 2px solid #e2e2e2;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

:disabled{
    cursor: default !important;
}

#etiquetasContainer, .historiasContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.6em;
    padding: 1em;
    transition: max-height .3s ease, padding .3s ease, opacity .3s ease;
}

#etiquetasContainer{
    background-color: #f5f8ff;
    border-radius: 0 0 5px 5px;
}

.etiquetasContainer.collapsed{
    opacity: 0;
}

.etiqueta, .historia{
    border: 3px solid #7b99e0;
    padding: .6em;
    cursor: pointer;
    transition: transform .3s;
    border-radius: 6px;
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .08);
}

.historia{
    width: 9em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .3s;
}

.etiqueta:hover, .historia:hover{
    transform: scale(1.05);
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.headerContainer button{
    padding: .5em;
    border-radius: 4px;
    border: 3px solid #7b99e0;
    cursor: pointer;
    transition: transform .3s;
    background-color: #829ee0;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.headerContainer button:hover{
    transform: scale(1.05);
}

.historiasList{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    transition: max-height .3s ease, padding .3s ease, opacity .3s ease;
}

.historiasList.collapsed, #etiquetasContainer.collapsed{
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    opacity: 0;
}

.historiasList.collapsed .historia{
    opacity: 0;
}

.naoHaContainer .historiasList{
    display: flex;
    align-items: center;
    justify-content: center;
}

.historiasList .msgNaoHa{
    background-color: #d3d3d3;
    padding: 1em;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .12);
}