

#root{
    display: flex;
    flex-direction: column;
    gap: 1.8em;
    align-items: center;
}

h1{
    margin: 1.6em;
    font-size: 2.1rem;
    font-style: italic;
}

#etiquetas, #historias{
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, .12);
    border-radius: 5px;
}

#etiquetas{
    max-width: 1100px;
    min-width: 40em;
    width: max-content;
}

#historias{
    max-width: 1100px;
    width: 60em;
}

#etiquetasHeader, .historiaHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid gray;
    padding: .8em;
    cursor: pointer;
}

#etiquetasContainer, .historiasContainer{
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.6em;
    padding: 1em;
}

.historiasList{
    padding: 1em;
}

.etiqueta, .historia{
    border: 1px solid gray;
    padding: .6em;
    cursor: pointer;
    transition: transform .3s;
    border-radius: 6px;
}

.historia{
    width: 9em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.etiqueta:hover, .historia:hover{
    transform: scale(1.05);
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.headerContainer button{
    padding: .5em;
    border-radius: 4px;
    border: 1px solid gray;
    cursor: pointer;
}

.historiasList{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}